<html xmlns:th="http://www.thymeleaf.org" xmlns:sec=“http://www.thymeleaf.org/extras/spring-security”>

<div th:fragment="card(book)">
    <!-- Card -->
    <div class="card">

        <!-- Card image -->
<!--        <img class="card-img-top" src="static/img/maria-regina-romaniei-jurnal-de-razboi-1918-13118.jpg"-->
<!--             alt="Jurnal de Razboi">-->
        <img id="BookCover" th:src="@{/getImmageFromDB/{id}(id=${book.id})} " alt="Sample photo">
        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 th:text="*{book.bookName}" class="card-title"><a></a></h4>
            <h5 th:text="*{book.author}" class="card-title"></h5>

            <!-- Text -->

            <p th:text="*{book.publishingHouse}" class="card-text"></p>
            <p th:text="*{book.pageNo}+ pagini" class="card-text"></p>

            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>

        </div>

    </div>
</div>
</html>