<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>

<div th:fragment="header1">

<nav class="navbar navbar-dark primary-color">
    <a class="navbar-brand" href="#">Link</a>
</nav>

<div th:fragment="header">

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> Profile </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="#">My account</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->

</div>

<!--<footer th:fragment="footer">-->
<!--    <a th:href="@{/fragments}">Fragments Index</a> |-->
<!--    <a th:href="@{/markup}">Markup inclussion</a> |-->
<!--    <a th:href="@{/params}">Fragment params</a> |-->
<!--    <a th:href="@{/other}">Other</a>
</footer>-->


<div th:fragment="headerIndex">

    <!--Navbar index-->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
        <a class="navbar-brand" href="#">Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signup}">
                        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Register</button>
                         <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                       <a class="nav-link" th:href="@{/login}">
                        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Login</button>
                </li>

<!--        <form class="form-inline my-2 my-lg-0 ml-auto">-->
<!--            <a th:href="@{/signup}">-->
<!--            <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Register</button>-->
<!--            </a>-->
<!--        </form>-->

<!--    <form class="form-inline my-2 my-lg-0 ml-auto">-->
<!--         <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Login</button>-->
<!--    </form>-->
            </ul>
            </div>

</nav>




<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"-->
<!--                       aria-haspopup="true" aria-expanded="false">-->
<!--                        <i class="fas fa-user"></i> Profile </a>-->
<!--                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">-->
<!--                        <a class="dropdown-item" href="#">My account</a>-->
<!--                        <a class="dropdown-item" href="#">Log out</a>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
        </div>
    </nav>
    <!--/.Navbar index-->

</body>
</html>