<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">


<div layout:fragment="content" class="container">
    <h2 class="mb-5">Book Update</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/book-update/{id}(id=${book.id})}" th:object="${book}" method="post">
                <div class="row">md
                    <div class="form-group col-md-6">
                        <label for="bookName" class="col-form-label">Book Name</label>
                        <input type="text" th:field="*{bookName}" class="form-control" id="bookName"
                               placeholder="BookName">
                        <span th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="author" class="col-form-label">Author</label>
                        <input type="text" th:field="*{author}" class="form-control" id="author" placeholder="Author">
                        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="publishingHouse" class="col-form-label">Publishing House</label>
                        <input type="text" th:field="*{publishingHouse}" class="form-control" id="publishingHouse"
                               placeholder="PublishingHouse">
                        <span th:if="${#fields.hasErrors('publishingHouse')}" th:errors="*{publishingHouse}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pageNo" class="col-form-label">Page Number</label>
                        <input type="number" th:field="*{pageNo}" class="form-control" id="pageNo" placeholder="PageNo">
                        <span th:if="${#fields.hasErrors('pageNo')}" th:errors="*{pageNo}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="stock" class="col-form-label">Stock</label>
                        <input type="number" th:field="*{stock}" class="form-control" id="stock" placeholder="Stock">
                        <span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="category" class="col-form-label">Category</label>
                        <input type="text" th:field="*{category}" class="form-control" id="category"
                               placeholder="Category">
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="immage" class="col-form-label">Immage</label>
                        <input type="text" th:field="*{immage}" class="form-control" id="immage"
                               placeholder="Immage">
                        <span th:if="${#fields.hasErrors('immage')}" th:errors="*{immage}"
                              class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Update Book">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</html>